<div class="buttons">
    <div>
      <button type="button" class="btn btn-primary edit-button" [disabled]="isEditDisabled" (click)="onEdit()">Edit</button>
      <button type="submit" class="btn btn-primary save-button" [disabled]="userForm.invalid || userForm.pending" (click)="saveUser()">Save</button>
      <button type="button" class="btn btn-secondary cancel-button" (click)="onCancel()">Cancel</button>
    </div>
    <div>
      <button type="button" class="btn btn-danger delete-button" (click)="deleteUser()" [disabled]="editMode">Delete User</button>
    </div>
  </div>
  <div class="user-form">
    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
        <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" class="form-control" formControlName="firstName">
        <div *ngIf="userForm.get('firstName')?.invalid && (userForm.get('firstName')?.dirty || userForm.get('firstName')?.touched)">
          <span class="warning-icon" *ngIf="userForm.get('firstName')?.invalid && (userForm.get('firstName')?.dirty || userForm.get('firstName')?.touched)">
            <div class="tooltip-container">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
          </span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" class="form-control" formControlName="lastName">
        <div *ngIf="userForm.get('lastName')?.invalid && (userForm.get('lastName')?.dirty || userForm.get('lastName')?.touched)">
          <span class="warning-icon" *ngIf="userForm.get('lastName')?.invalid && (userForm.get('lastName')?.dirty || userForm.get('lastName')?.touched)">
            <div class="tooltip-container">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
          </span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" class="form-control" formControlName="email">
        <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)">
          <span class="warning-icon" *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)">
            <div class="tooltip-container">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
          </span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="mobileCountryCode">Mobile Country Code</label>
        <input type="text" id="mobileCountryCode" class="form-control" formControlName="mobileCountryCode">
      </div>
  
      <div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="text" id="mobileNumber" class="form-control" formControlName="mobileNumber">
      </div>
  
      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" class="form-control" formControlName="status">
          <option value="">Please select...</option>
          <option value="Active">Active</option>
          <option value="Disabled">Disabled</option>
        </select>
        <div *ngIf="userForm.get('status')?.invalid && (userForm.get('status')?.dirty || userForm.get('status')?.touched)">
          <span class="warning-icon" *ngIf="userForm.get('status')?.invalid && (userForm.get('status')?.dirty || userForm.get('status')?.touched)">
            <div class="tooltip-container">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
          </span>
        </div>
      </div>
    </form>
  </div>
  